/* estilo header */


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header img {
    width: 18.75rem;
    height: auto;
}
.p {
    color: #00358e;
}

.header .cotiza {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem 1.563rem;
    background-color: #3457fa;
    color: white;
    border-radius: 1.25rem;
    cursor: pointer;
    border: none;
    font-size: 0.8rem;
}
